.app_main {
    /* display: flex; */
    height: 100%;
    min-width: 1310px;
}
.app_left {
    position: fixed;
    width: 210px;
    height: 100%;
    background: #f0f0f0;
}
.app_right {
    margin-left: 210px;
    padding-bottom: 80px;
    background: #fafafa;
    /* overflow: auto; */
}
