@import '~normalize.css';
@import '~antd/dist/antd.css';
@font-face {
    font-family: 'iconfont';  /* Project id 3240690 */
    src: url('//at.alicdn.com/t/font_3240690_czqqdr8wado.woff2?t=1647334356512') format('woff2'),
         url('//at.alicdn.com/t/font_3240690_czqqdr8wado.woff?t=1647334356512') format('woff'),
         url('//at.alicdn.com/t/font_3240690_czqqdr8wado.ttf?t=1647334356512') format('truetype');
}
/* 样式的重置 */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
header,
menu,
section,
p,
input,
td,
th,
ins {
    padding: 0;
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: #666;
    text-decoration: underline;
}

i,
em {
    font-style: normal;
}

input,
textarea,
button,
select,
a {
    outline: none;
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: none;
    vertical-align: middle;
}

/* 全局样式 */
body,
textarea,
select,
input,
button {
    font-size: 12px;
    color: #333;
    /* background-color: #f5f5f5; */
}

.text-nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.text-indent {
    text-indent: -9999px;
}

.inline-block {
    display: inline-block;
}

.w1100 {
    width: 1180px;
    padding: 0 40px;
    margin: 0 auto;
    overflow: auto;
    overflow-x: hidden;
}

.main_center {
    display: flex;
    justify-content: center;
}
#root {
    height: 100%;
}
.iconfont {
    font-family: 'iconfont' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.graymode {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
